.video-container {
    position: relative;
    margin-right: 1.5rem;
    margin-bottom: .75rem;
}
.video-container .video-info{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
}
.video-info h4{
    font-size: 18px;
    font-style: italic;

}

.video-container img {
    width: 280px;
    border: 4px solid #6BD1FF;
    border-radius: 4px;
}